DATABASE_URL="postgresql://neondb_owner:npg_2mhluq0ZnstH@ep-divine-moon-air2e5p0-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NODE_ENV=""
ACCESS_TOKEN_SECRET=""
ACCESS_TOKEN_LIFE=""
REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_LIFE=""
